/*!
░█████╗░░█████╗░██████╗░██╗░░░██╗██████╗░██╗░██████╗░██╗░░██╗████████╗  
██╔══██╗██╔══██╗██╔══██╗╚██╗░██╔╝██╔══██╗██║██╔════╝░██║░░██║╚══██╔══╝  
██║░░╚═╝██║░░██║██████╔╝░╚████╔╝░██████╔╝██║██║░░██╗░███████║░░░██║░░░  
██║░░██╗██║░░██║██╔═══╝░░░╚██╔╝░░██╔══██╗██║██║░░╚██╗██╔══██║░░░██║░░░  
╚█████╔╝╚█████╔╝██║░░░░░░░░██║░░░██║░░██║██║╚██████╔╝██║░░██║░░░██║░░░  
░╚════╝░░╚════╝░╚═╝░░░░░░░░╚═╝░░░╚═╝░░╚═╝╚═╝░╚═════╝░╚═╝░░╚═╝░░░╚═╝░░░  

██████╗░░█████╗░██████╗░░░███╗░░
╚════██╗██╔══██╗╚════██╗░████║░░
░░███╔═╝██║░░██║░░███╔═╝██╔██║░░
██╔══╝░░██║░░██║██╔══╝░░╚═╝██║░░
███████╗╚█████╔╝███████╗███████╗
╚══════╝░╚════╝░╚══════╝╚══════╝

███╗░░░███╗██╗░██████╗░░█████╗░██████╗░░█████╗░███████╗████████╗  
████╗░████║██║██╔═══██╗██╔══██╗██╔══██╗██╔══██╗██╔════╝╚══██╔══╝  
██╔████╔██║██║██║██╗██║██║░░╚═╝██████╔╝███████║█████╗░░░░░██║░░░  
██║╚██╔╝██║██║╚██████╔╝██║░░██╗██╔══██╗██╔══██║██╔══╝░░░░░██║░░░  
██║░╚═╝░██║██║░╚═██╔═╝░╚█████╔╝██║░░██║██║░░██║██║░░░░░░░░██║░░░  
╚═╝░░░░░╚═╝╚═╝░░░╚═╝░░░░╚════╝░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░░░░░░░░╚═╝░░░  

██████╗░██╗░░░░░███████╗░█████╗░░██████╗███████╗  
██╔══██╗██║░░░░░██╔════╝██╔══██╗██╔════╝██╔════╝  
██████╔╝██║░░░░░█████╗░░███████║╚█████╗░█████╗░░  
██╔═══╝░██║░░░░░██╔══╝░░██╔══██║░╚═══██╗██╔══╝░░  
██║░░░░░███████╗███████╗██║░░██║██████╔╝███████╗  
╚═╝░░░░░╚══════╝╚══════╝╚═╝░░╚═╝╚═════╝░╚══════╝  

██████╗░░█████╗░███╗░░██╗██╗████████╗
██╔══██╗██╔══██╗████╗░██║╚█║╚══██╔══╝
██║░░██║██║░░██║██╔██╗██║░╚╝░░░██║░░░
██║░░██║██║░░██║██║╚████║░░░░░░██║░░░
██████╔╝╚█████╔╝██║░╚███║░░░░░░██║░░░
╚═════╝░░╚════╝░╚═╝░░╚══╝░░░░░░╚═╝░░░

██████╗░██╗░█████╗░██╗░░██╗  ██╗░░░██╗██████╗░  ████████╗██╗░░██╗███████╗
██╔══██╗██║██╔══██╗██║░██╔╝  ██║░░░██║██╔══██╗  ╚══██╔══╝██║░░██║██╔════╝
██████╔╝██║██║░░╚═╝█████═╝░  ██║░░░██║██████╔╝  ░░░██║░░░███████║█████╗░░
██╔═══╝░██║██║░░██╗██╔═██╗░  ██║░░░██║██╔═══╝░  ░░░██║░░░██╔══██║██╔══╝░░
██║░░░░░██║╚█████╔╝██║░╚██╗  ╚██████╔╝██║░░░░░  ░░░██║░░░██║░░██║███████╗
╚═╝░░░░░╚═╝░╚════╝░╚═╝░░╚═╝  ░╚═════╝░╚═╝░░░░░  ░░░╚═╝░░░╚═╝░░╚═╝╚══════╝

░█████╗░░█████╗░██████╗░██╗███╗░░██╗░██████╗░  
██╔══██╗██╔══██╗██╔══██╗██║████╗░██║██╔════╝░  
██║░░╚═╝██║░░██║██║░░██║██║██╔██╗██║██║░░██╗░  
██║░░██╗██║░░██║██║░░██║██║██║╚████║██║░░╚██╗  
╚█████╔╝╚█████╔╝██████╔╝██║██║░╚███║╚██████╔╝  
░╚════╝░░╚════╝░╚═════╝░╚═╝╚═╝░░╚══╝░╚═════╝░  

░██████╗██╗░░░██╗░██████╗████████╗███████╗███╗░░░███╗
██╔════╝╚██╗░██╔╝██╔════╝╚══██╔══╝██╔════╝████╗░████║
╚█████╗░░╚████╔╝░╚█████╗░░░░██║░░░█████╗░░██╔████╔██║
░╚═══██╗░░╚██╔╝░░░╚═══██╗░░░██║░░░██╔══╝░░██║╚██╔╝██║
██████╔╝░░░██║░░░██████╔╝░░░██║░░░███████╗██║░╚═╝░██║
╚═════╝░░░░╚═╝░░░╚═════╝░░░░╚═╝░░░╚══════╝╚═╝░░░░░╚═╝

░█████╗░███╗░░██╗  ████████╗██╗░░██╗██╗░██████╗  
██╔══██╗████╗░██║  ╚══██╔══╝██║░░██║██║██╔════╝  
██║░░██║██╔██╗██║  ░░░██║░░░███████║██║╚█████╗░  
██║░░██║██║╚████║  ░░░██║░░░██╔══██║██║░╚═══██╗  
╚█████╔╝██║░╚███║  ░░░██║░░░██║░░██║██║██████╔╝  
░╚════╝░╚═╝░░╚══╝  ░░░╚═╝░░░╚═╝░░╚═╝╚═╝╚═════╝░  

░██╗░░░░░░░██╗███████╗██████╗░░██████╗██╗████████╗███████╗
░██║░░██╗░░██║██╔════╝██╔══██╗██╔════╝██║╚══██╔══╝██╔════╝
░╚██╗████╗██╔╝█████╗░░██████╦╝╚█████╗░██║░░░██║░░░█████╗░░
░░████╔═████║░██╔══╝░░██╔══██╗░╚═══██╗██║░░░██║░░░██╔══╝░░
░░╚██╔╝░╚██╔╝░███████╗██████╦╝██████╔╝██║░░░██║░░░███████╗
░░░╚═╝░░░╚═╝░░╚══════╝╚═════╝░╚═════╝░╚═╝░░░╚═╝░░░╚══════╝

/*
@name        Miqcraft Theme Website
@version     1.0.0
@author      Miqcraft
@author      URI: https://github.com/MIQCRAFT
@license      MIT
*/

*, *::after, *::before {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  background: #1b1d20 !important;
  width: 8px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  transition: all 0.6s !important;
  background: #32333b !important;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer !important;
  background: #3c3d47 !important;
}

::selection {
  color: #ecefff;
  background: #3f4763 !important;
}

.textfooter a:hover {
  color: #ffd359;
  text-decoration: underline;
}

.textfooter a {
  color: #ffbb00 !important;
  text-decoration: none;
  background-color: transparent;
}

p {
  margin-bottom: 4rem !important
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c1f25 !important;
  font-family: "Poppins", sans-serif !important;
  color: #f5f5f7 !important;
}

#card-project {
  border: none !important;
}

.project-preview {
  transition: all 0.2s;
}

.project-preview:hover {
  transform: translatey(-4px);
  opacity: 0.8;
}

#menu {
  font-weight: 400 !important;
  font-size: 18px;
  color: #f5f5f7;
  margin-left: 20px;
}

.navbar-dark .navbar-toggler:focus {
  outline: none !important;
}

.navbar-dark .navbar-toggler:hover {
  transform: translateY(-4px);
  background: #181a1f;
}

.navbar-dark .navbar-toggler {
  transition: all 0.2s;
  border-radius: 8px;
  color: rgba(255, 255, 255, .5);
  background: #111317;
  border: 3px solid #3f4248 !important;
}

@media (max-width:992px) {
  #menu {
    font-weight: 400 !important;
    font-size: 18px;
    color: #f5f5f7;
    background: #111317;
    padding: 15px;
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 0px;
  }
}

#menu:hover {
  color: #ffbb00;
}

.container span {
  color: #ffbb00;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding: 0px 32px !important;
}

.vector {
  width: 72%;
}

.header {
  margin-top: 41px;
  margin-bottom: 90px;
}

@media (max-width:992px) {
  .header {
    margin-top: 0px;
    margin-bottom: 70px;
  }
  .container h1, h2, h3, h4, h5 {
    text-align: center;
  }
  footer {
    margin-top: 100px;
  }
}

#header-text {
  transition: all 0.3s;
  font-size: 24px;
  margin-top: 64px;
  transition: all 0.3s;
}

#header-text:hover {
  transform: translateY(-4px);
}

.text-header {
  background: #111317;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}

.btn-sosial {
  background: #15181d;
  padding: 30px;
  border-radius: 0px 0px 10px 10px;
}

#header-text h4 {
  font-weight: 700;
  margin-bottom: 16px;
  letter-spacing: 1px;
}

#header-text p {
  font-weight: 300;
  margin-bottom: 32px;
  letter-spacing: 1px;
}

#btn-email-me {
  border-color: #ffbb00 !important;
  border-radius: 8px;
  font-weight: 600;
}

#btn-email-me:hover {
  font-weight: 600;
  background-color: #ffd256;
  color: #1c1c1c;
  border-radius: 8px;
}

.social-media a {
  color: #f5f5f7;
}

.social-media a:hover {
  color: #ffbb00;
}

.download-cv a {
  color: #f5f5f7;
  font-weight: 300px;
  font-size: 14px;
}

.download-cv a:hover {
  color: #ffbb00;
  text-decoration: none;
}

.vector {
  position: absolute;
  right: 16px;
  width: 65%;
}

#card-skill {
  background-color: #3a3b53 !important;
  padding: 24px 64px 24px 64px;
  border-radius: 10px;
}

#skill-badge img {
  height: 64px;
  width: 64px;
}

#card-illustration {
  background-color: transparent;
}

.project-desc {
  text-align: center;
}

#card-project {
  background-color: transparent;
}

.design-preview {
  border-radius: 10px;
}

.project-preview {
  border-radius: 10px;
}

.view-code {
  color: #f5f5f7;
}

.view-code:hover {
  text-decoration: none;
  color: #ffbb00;
}

#card-certificates {
  background-color: #3a3b53;
  border-radius: 10px;
}

#certificate-image {
  width: 95%;
}

.level {
  color: #ffbb00;
  font-weight: 700;
}

.company {
  font-weight: 300;
  font-size: 20px;
}

.navbar {
  padding: .5rem 0 .5rem 0 !important;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
  .certificate .carousel-inner {
    height: 500px;
  }
  .carousel-item h3, .carousel-item p {
    text-align: center;
  }
  #certificate-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-inner {
    padding: 20px;
  }
  #header-text h4, #header-text p {
    text-align: center;
  }
  footer {
    margin-top: 100px;
  }
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #ffbb00;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important;
}

/* Desktop version */

@media (min-width: 1280px) {
  .nav-link:hover::after {
    content: "";
    border-bottom: 2px solid #ffbb00;
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .certificate .carousel-inner {
    height: 430px !important;
  }
  .carousel-inner {
    padding: 24px;
  }
  .carousel-inner h3 {
    text-align: left;
  }
  footer {
    margin-top: 150px;
  }
}

.section-box {
  background: #111317;
  padding: 40px;
  border-radius: 10px;
  margin: 20px 0px;
  transition: all 0.2s;
}

.section-box:hover {
  transform: translateY(-4px);
}

.section-box a {
  color: #ffbb00;
}

.section-box a:hover {
  color: #ffc936;
  text-decoration: underline;
}

.section-box h2 {
  font-size: 1.7rem;
}

.section-box p span {
  color: white;
}

.section-box p {
  margin-bottom: 0px !important;
  color: #b5bec7;
}

span.mobileview {
  display: none;
}

span.pcview {
  display: block;
}

.image-tutorial {
  height: 100%;
  width: 700px;
  margin-top: 0;
  border-radius: 10px;
}

@media (max-width:992px) {
  span.pcview {
    display: none;
  }
  span.mobileview {
    display: block;
  }
  .section-box {
    padding: 30px;
  }
  .section-box p {
    font-size: 1rem;
    color: #88929c;
  }
  .section-box h2 {
    font-size: 1.4rem;
  }
  .image-tutorial {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    border-radius: 10px;
  }
}

.gfg {
  width: auto;
  margin: 0;
  height: 76px;
  overflow: auto;
  text-align: left;
  user-select: text;
}

.section-box .tombolcopy {
  font-family: "Poppins", sans-serif;
  background: #242830;
  transition: all 0.2s;
}

.section-box .tombolcopy:hover {
  text-decoration: none;
  transform: translateY(-2px);
  background: #2d323b;
}

pre {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 87.5%;
  border-radius: 10px;
  color: #e83e8c;
  margin-left: -170px;
  word-break: break-word;
}

code::-webkit-scrollbar {
  display: none;
}

/* code::-webkit-scrollbar {
  background: #1a1a1a;
  width: 8px;
  height: 8px;
} */

code::-webkit-scrollbar-thumb {
  background: rgb(164 44 44);
}

::-webkit-scrollbar-corner {
  display: none;
}

.logo-web {
  transition: all 0.4s;
  background: #16181b;
  border-radius: 10px;
  padding: 6px 20px;
  height: 70px;
}

.logo-web:hover {
  cursor: pointer;
  background: #32373d;
  box-shadow: 0px 6px 10px 0px #2b2e3380;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-right: 0 !important;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand .text1-logo {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  color: white;
  transition: all 0.2s;
}

.navbar-brand .text2-logo {
  text-decoration: none;
  position: absolute;
  left: 20;
  top: 40px;
  color: gray;
  font-size: 1.3rem;
  font-weight: 500;
}